<!DOCTYPE html>
<html>
	<head>
			<title>Home</title>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta charset="utf-8">
			<meta name="keywords" content=""/>
			<script>
				addEventListener("load", function () {
					setTimeout(hideURLbar, 0);
				}, false);

				function hideURLbar() {
					window.scrollTo(0, 1);
				}
			</script>

			<link href="css/bootstrap.css" rel='stylesheet' type='text/css'/>
			<link href="css/style.css" rel='stylesheet' type='text/css'/>
			<link href="css/fontawesome-all.css" rel="stylesheet">
			<link href="http://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
	</head>
	<body id="page-top">
		<!--/banner-w3layouts-sec-->
		<div class="banner-w3layouts">
				<header>
					<%- include navbar.ejs %>
				</header>
				<!--banner-w3layouts-->
				<div class="banner-w3layouts-info">
						<!--/search_form -->
						<div id="search_form" class="search_top text-center">
								<h3>Make a search</h3>
								<p>search for your pet care taker</p>
								<form action="listings" method="post" class="ban-form row mb-5">
									<div class="form-group">
										<div class="form-row">
											<div class="col-md-6 banf">
													<label for="startdate">Location</label>
													<select class="form-control" id="location" name="location">
															<option>Singapore</option>
															<option>Taipei</option>
													</select>
											</div>
											<div class="col-md-6 banf">
													<label for="enddate">Animal</label>
													<select class="form-control" id="specie" name="specie">
															<option>Dog</option>
															<option>Cat</option>
													</select>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="form-row">
											<div class="col-md-6 banf">
													<label for="startdate">Start date</label>
													<input class="form-control" type="date" id="startdate" name="startdate" value="2019-04-01" min="2019-04-01" max="2019-12-31">
													<div class="container">
															<div class="row">
																	<script>
																		$(function () {
																				$('#datetimepicker1').datetimepicker();
																		});
																</script>
															</div>
													</div>
											</div>
											<div class="col-md-6 banf">
													<label for="enddate">End date</label>
													<input class="form-control" type="date" id="enddate" name="enddate" value="2019-04-01" min="2019-04-01" max="2019-12-31">
													<div class="container">
															<div class="row">
																	<script>
																		$(function () {
																				$('#datetimepicker1').datetimepicker();
																		});
																</script>
															</div>
													</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="form-row">
											<div class="col-md-12 banf">
												<label for="enddate">Find appointment</label>
												<input class="form-control" type="submit" value="Search">
											</div>
										</div>
									</div>
								</form>
						</div>
						<!--//search_form -->
				</div>
				<!--//banner-w3layouts-->
		</div>
		<!--//banner-w3layouts-sec-->
		<!-- about -->
		<section class="about">
				<div class="container-fluid">
						<div class="row">
								<div class="col-lg-6 p-0">
										<img src="images/happy-dog-maru-shiba-inu-23.jpg" alt="Uber-pet" class="img-fluid">
								</div>
								<div class="col-lg-6 about-info">
										<h3 class="tittle text-left mb-lg-5 mb-3">About Us</h3>
										<p class="my-xl-4 my-lg-3 my-md-4 my-3">Need a Pet caretaker or Pet caretaking job? Uber-pet.com connects your furry family members with a massive community of pet lovers, offering pet sitting, dog walking, grooming &amp; boarding services. Whether you have a dog, cat, fish or something more exotic we can help you find someone to help care for them when you can't. Dog walkers, cat sitters, kennels, doggy daycares, pet grooming, dog sitters- you name it we've got it. </p>
								</div>
						</div>
				</div>
		</section>
		<footer style="background-color: rgba(15, 14, 15, 0.51);">
			<%- include footer.ejs %>
		</footer>
		<script src="js/jquery-2.2.3.min.js"></script>
		<!-- carousel -->
		<script src="js/owl.carousel.js"></script>
		<script>
$(document).ready(function () {
	$('.owl-carousel').owlCarousel({
		loop: true,
		margin: 10,
		responsiveClass: true,
		responsive: {
			0: {
				items: 1,
				nav: true
			},
			600: {
				items: 2,
				nav: false
			},
			900: {
				items: 3,
				nav: false
			},
			1000: {
				items: 4,
				nav: true,
				loop: false,
				margin: 20
			}
		}
	})
})
</script>
		<!-- //carousel -->
		<!-- stats -->
		<script src="js/jquery.waypoints.min.js"></script>
		<script src="js/jquery.countup.js"></script>
		<script>
$('.counter').countUp();
</script>
		<!-- //stats -->
		<!-- flexSlider -->
		<script defer src="js/jquery.flexslider.js"></script>
		<script>
$(window).load(function () {
	$('.flexslider').flexslider({
		animation: "slide",
		start: function (slider) {
			$('body').removeClass('loading');
		}
	});
});
</script>
		<!-- //flexSlider -->
		<!-- start-smooth-scrolling -->
		<script src="js/move-top.js"></script>
		<script src="js/easing.js"></script>
		<script>
jQuery(document).ready(function ($) {
	$(".scroll").click(function (event) {
		event.preventDefault();

		$('html,body').animate({
			scrollTop: $(this.hash).offset().top
		}, 1000);
	});
});
</script>
		<!-- //end-smooth-scrolling -->
		<!-- dropdown nav -->
		<script>
$(document).ready(function () {
	$(".dropdown").hover(
		function () {
			$('.dropdown-menu', this).stop(true, true).slideDown("fast");
			$(this).toggleClass('open');
		},
		function () {
			$('.dropdown-menu', this).stop(true, true).slideUp("fast");
			$(this).toggleClass('open');
		}
	);
});
</script>
		<!-- //dropdown nav -->
		<!-- smooth-scrolling-of-move-up -->
		<script>
$(document).ready(function () {
	/*
	var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear'
	};
	*/

	$().UItoTop({
		easingType: 'easeOutQuart'
	});

});
</script>
		<!-- //smooth-scrolling-of-move-up -->
		<script src="js/bootstrap.js"></script>
		<!-- js file -->
</body>
</html>
