
<!DOCTYPE html>
<html lang="zxx">
    <head>
        <title>News</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <meta name="keywords" content=""/>
        <script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
        <link href="css/bootstrap.css" rel='stylesheet' type='text/css'/>
        <link href="css/style.css" rel='stylesheet' type='text/css'/>
        <link href="css/fontawesome-all.css" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    </head>
    <body>
        <!--/banner-w3layouts-sec-->
        <div class="banner-w3layouts two">
            <header>
              <%- include navbar.ejs %>
            </header>
            <!--banner-w3layouts-->
            <div class="banner-w3layouts-info two">
                <!--/search_form -->
                <div id="banner-w3layouts-info" class="search_top text-center">
                    <p>Description of your order</p>
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item">
                            <a href="index.html">Home</a>
                        </li>
                        <li class="breadcrumb-item active">Order</li>
                    </ol>
                </div>
                <!--//banner-w3layouts-info -->
            </div>
            <!--//banner-w3layouts-->
        </div>
        <!--/main-->
        <!--/main-->
        <section class="banner-w3layouts-bottom py-lg-5 py-3" style="margin-bottom: 0px;">
            <div class="container py-lg-4 py-3">
                <h3 class="tittle text-center mx-auto mb-lg-5 mb-3 ">Order Details #xxxx</h3>
                <div class="card-deck text-center row">
                    <div class="price-info-grid col-lg-6">
                        <div class="price-inner">
                            <div class="price-header">
                                <h4>Pet info</h4>
                            </div>
                        </div>
                    </div>
                    <div class="price-info-grid col-lg-6 my-lg-0 my-3">
                        <div class="price-inner">
                            <div class="price-header">
                                <h4>Care-taker info</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="pricing.html" class="float-right text-dark font-weight-bold bg-info mw-100 h-50 border border-secondary align-middle p-2 text-center mt-2 mb-auto mr-5 w-25">Make payment</a>
            <a href="/listings" class="float-right text-dark font-weight-bold bg-info mw-100 h-50 border border-secondary align-middle p-2 text-center mt-2 mb-auto mr-5 w-25">Reselect care-taker</a>
        </section>
        <footer style="background-color: rgba(15, 14, 15, 0.51);">
          <%- include footer.ejs %>
        </footer>
        <!-- js -->
        <script src="js/jquery-2.2.3.min.js"></script>
        <!-- //js -->
        <!-- password-script -->
        <script>
		window.onload = function () {
			document.getElementById("password1").onchange = validatePassword;
			document.getElementById("password2").onchange = validatePassword;
		}

		function validatePassword() {
			var pass2 = document.getElementById("password2").value;
			var pass1 = document.getElementById("password1").value;
			if (pass1 != pass2)
				document.getElementById("password2").setCustomValidity("Passwords Don't Match");
			else
				document.getElementById("password2").setCustomValidity('');
			//empty string means no validation error
		}
	</script>
        <!-- //password-script -->
        <!--/ start-smoth-scrolling -->
        <script src="js/move-top.js"></script>
        <script src="js/easing.js"></script>
        <script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
	</script>
        <!--// end-smoth-scrolling -->
        <script>
		$(document).ready(function () {
			/*
									var defaults = {
							  			containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear'
							 		};
									*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
        <!-- //Custom-JavaScript-File-Links -->
        <script src="js/bootstrap.js"></script>
    </body>
</html>
