
<!-- Sidebar -->
<ul class="sidebar navbar-nav">
	<li class="nav-item active">
		<a class="nav-link <%= page==="userinfo" ? "active" : "" %>" href="<%= page==="userinfo" ? "#" : "/userinfo" %>">
			<i class="fas fa-fw fa-address-card"></i>
			<span>User Info <%= firstname %> <%= lastname %></span>
		</a>
	</li>
</ul>
